root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

[*.{js,ts,ets}]
quote_type = single

[*.{md,mdx,diff}]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
indent_size = 4

[COMMIT_EDITMSG]
max_line_length = 0
